# list all python requirements here for installation with pip
Django
git+https://github.com/reklaklislaw/bibs.git#egg=bibs
nltk
oauth2
requests
beautifulsoup4
libZotero
simplejson
python-dateutil
flickrapi
django-social-auth

# should be installed as dependencies of bibs but don't seem to be
PyYAML
dicttoxml
xmltodict
lxml
