.isotope-item {
     z-index: 2;
}

.isotope-hidden.isotope-item {
     pointer-events: none;
     z-index: 1;
}

.isotope, .isotope .isotope-item {
     transition-duration: 0.8s;
}

.isotope {
     transition-property: height, width;
}

.isotope .isotope-item {
     transition-property: transform, opacity;
}

.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
     transition-duration: 0s;
}

.isotope.infinite-scrolling {
     transition: none 0s ease 0s ;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
     border: 0px none;
     font: inherit;
     margin: 0px;
     padding: 0px;
     vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
     display: block;
}

body {
     background: none repeat scroll 0% 0% #1F1E1D;
     color: #FFFFFF;
     font-family: 'Lucida Sans','Lucida Sans Regular','Lucida Grande','Lucida Sans Unicode',Arial,sans-serif;
     font-size: 13px;
     line-height: 1.7em;
     padding: 20px;
}

a, a code {
     color: #FFBB44;
     text-decoration: none;
}

a:hover, a:hover code {
     color: #44BBFF;
}

a:active, a:active code {
     background: none repeat scroll 0% 0% black;
     color: #11FFBB;
}

a img {
     border: medium none;
}

em {
     font-style: italic;
}

strong {
     font-weight: bold;
}

blockquote {
     border-left: 1px solid #333333;
     font-style: italic;
     margin-left: 1em;
     padding-left: 1em;
}

html, body {
     height: 100%;
}

#container {

}

.photos .photo {
     float: left;
     margin: 5px;
}

.photos .photo img {
     display: block;
     width: 100%;
}

.demos #content {
     height: 100%;
}

.docs #content {

}

.clearfix:before, .clearfix:after {
     content: "";
     display: table;
}

.clearfix:after {
     clear: both;
}

.clearfix {

}

body {

}

.panel {
     float: left;
     font-size: 1.2em;
     height: 200px;
     perspective: 600px;
     width: 200px;
}

.panel .front {
     backface-visibility: hidden;
     background: none repeat scroll 0% 0% #6B7077;
     float: none;
     height: inherit;
     left: 0px;
     position: absolute;
     text-align: center;
     top: 0px;
     transform-style: preserve-3d;
     transform: rotateX(0deg) rotateY(0deg);
     transition: all 0.4s ease-in-out 0s;
     width: inherit;
     z-index: 900;
}

.panel.flip .front {
     background: none repeat scroll 0% 0% #333333;
     transform: rotateY(180deg);
     z-index: 900;
}

.panel .back {
     backface-visibility: hidden;
     background: none repeat scroll 0% 0% #333333;
     float: none;
     height: inherit;
     left: 0px;
     top: 0px;
     transform-style: preserve-3d;
     transform: rotateY(-180deg);
     transition: all 0.4s ease-in-out 0s;
     width: inherit;
     z-index: 800;
}

.panel.flip .back {
     background: none repeat scroll 0% 0% #80868D;
     transform: rotateX(0deg) rotateY(0deg);
     z-index: 1000;
}
