.isotope-item {
     z-index: 2;
}

.isotope-hidden.isotope-item {
     pointer-events: none;
     z-index: 1;
}

.isotope, .isotope .isotope-item {
     transition-duration: 0.8s;
}

.isotope {
     transition-property: height, width;
}

.isotope .isotope-item {
     transition-property: transform, opacity;
}

.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
     transition-duration: 0s;
}

.isotope.infinite-scrolling {
     transition: none 0s ease 0s ;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
     border: 0px none;
     font: inherit;
     margin: 0px;
     padding: 0px;
     vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
     display: block;
}

body {
     background: none repeat scroll 0% 0% #1F1E1D;
     color: #FFFFFF;
     font-family: 'Lucida Sans','Lucida Sans Regular','Lucida Grande','Lucida Sans Unicode',Arial,sans-serif;
     font-size: 13px;
     line-height: 1.7em;
     padding: 20px;
}

h1, h2, h3, p, ul, ol, pre, dl {
     margin-bottom: 1em;
}

h1, h2, #super-list, .element, .tagline, #index-list, .super-list .link {
     font-family: 'Helvetica Neue',Arial,sans-serif;
}

h1, h2, h3 {

}

h1 {
     font-size: 32px;
     line-height: 1.1em;
}

h2 {
     font-size: 24px;
     line-height: 1.1em;
}

ul, ol {
     margin-left: 1.5em;
}

a, a code {
     color: #FFBB44;
     text-decoration: none;
}

a:hover, a:hover code {
     color: #44BBFF;
}

a:active, a:active code {
     background: none repeat scroll 0% 0% black;
     color: #11FFBB;
}

a img {
     border: medium none;
}

em {
     font-style: italic;
}

strong {

}

blockquote {
     font-style: italic;
     margin-left: 1em;
     padding-left: 1em;
}

html, body {
     height: 100%;
}

#container {
     margin-bottom: 20px;
}

.element {
     background: none repeat scroll 0% 0% #888888;
     border-top-right-radius: 1.2em;
     color: #222222;
     float: left;
     height: 110px;
     margin: 5px;
     overflow: hidden;
     position: relative;
     width: 110px;
}

.element * {
     margin: 0px;
     position: absolute;
}

.element .iso_title {
     color: #FFFFFF;
     font-size: 3.8em;
     left: 0.2em;
     line-height: 1em;
     top: 0.4em;
}

.element.large .iso_title {
     font-size: 4.5em;
}

.element.fake .iso_title {
     color: #000000;
}

.element .iso_author {
     bottom: 1.6em;
     font-size: 1.05em;
     left: 0.5em;
}

.element .iso_source {
     bottom: 0.5em;
     font-size: 0.9em;
     left: 0.5em;
}

.element .iso_date {
     color: rgba(0, 0, 0, 0.5);
     font-size: 1.25em;
     right: 0.5em;
     top: 0.5em;
}

.variable-sizes .element.width2 {
     width: 230px;
}

.variable-sizes .element.height2 {
     height: 230px;
}

.variable-sizes .element.width2.height2 {
     font-size: 2em;
}

.element.large, .variable-sizes .element.large, .variable-sizes .element.large.width2.height2 {
     font-size: 3em;
     height: 350px;
     width: 350px;
     z-index: 100;
}

.clickable .element:hover {
     cursor: pointer;
}

.clickable .element:hover h3 {
     text-shadow: 0px 0px 10px white, 0px 0px 10px white;
}

.clickable .element:hover h2 {
     color: white;
}

#options {
     padding-bottom: 1em;
}

#options h3 {
     font-size: 15px;
     margin-bottom: 0.2em;
}

#options h4 {

}

#options ul {
     list-style: none outside none;
     margin: 0px;
}

#options ul ul {
     margin-left: 1.5em;
}

#options li {
     float: left;
     margin-bottom: 0.2em;
}

#options li a {
     background-color: #DDDDDD;
     background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
     color: #222222;
     display: block;
     padding: 0.4em 0.5em;
     text-shadow: 0px 1px rgba(255, 255, 255, 0.5);
}

#options li a:hover {
     background-color: #55BBFF;
}

#options li a:active {
     background-color: #3399DD;
     box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6) inset;
}

#options li a {
     border-left: 1px solid rgba(255, 255, 255, 0.3);
     border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#options li:first-child a {
     border-left: medium none;
     border-radius: 7px 0px 0px 7px;
}

#options li:last-child a {
     border-radius: 0px 7px 7px 0px;
}

#options li a.selected {
     background-color: #1133FF;
     color: white;
     text-shadow: none;
}

#options .option-combo {
     display: inline-block;
     float: left;
     margin-right: 10px;
}

#options .option-combo ul {
     display: inline-block;
     margin-right: 20px;
}

#options .option-combo h2, #options .option-combo h4 {
     display: inline-block;
     line-height: 34px;
     margin-bottom: 0px;
     margin-right: 5px;
     vertical-align: top;
}

.color-shape {
     float: left;
     height: 70px;
     margin: 5px;
     width: 70px;
}

.color-shape.round {
     border-radius: 35px 35px 35px 35px;
}

.color-shape.big.round {
     border-radius: 75px 75px 75px 75px;
}

.color-shape.red {
     background: none repeat scroll 0% 0% red;
}

.color-shape.blue {
     background: none repeat scroll 0% 0% blue;
}

.color-shape.yellow {
     background: none repeat scroll 0% 0% yellow;
}

.color-shape.wide, .color-shape.big {
     width: 150px;
}

.color-shape.tall, .color-shape.big {
     height: 150px;
}

.color-shape a {
     display: block;
     height: 100%;
}

.color-shape a:hover {
     background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.5);
}

.horizontal #container {
     height: 80%;
}

#copy {
     max-width: 640px;
}

.photos .photo {
     float: left;
     margin: 5px;
     width: 320px;
}

.photos .photo img {
     display: block;
     width: 100%;
}

#content {
     margin-left: 210px;
}

.demos #content {
     height: 100%;
}

.docs #content {
     max-width: 640px;
}

.docs #content a:hover {
     border-bottom: 1px dotted;
}

footer {
     border-top: 1px solid #333333;
     font-size: 12px;
     font-style: italic;
     padding: 0.8em 0px;
}

pre {
     padding: 10px;
}

pre, code {
     background: none repeat scroll 0% 0% black;
     color: white;
     font-family: 'Monaco',monospace,sans-serif;
}

#content code {
     font-size: 12px;
}

#content pre {
     line-height: 1.6em;
}

h3#options {
     padding-bottom: 0px;
}

.option-def dl dt, .option-def dl dd {
     background: none repeat scroll 0% 0% #161616;
     float: left;
     height: 36px;
     line-height: 36px;
     padding: 0px 1.2em;
}

.option-def dl.header dt, .option-def dl.header dd {
     background: none repeat scroll 0% 0% #444444;
}

.option-def dl .option-type {
     color: #AAAAAA;
     font-size: 13px;
     font-style: italic;
}

.option-def dl dd {
     border-left: 1px solid #222222;
}

.docs .tagline {
     font-size: 22px;
}

.docs .as-is {
     font-size: 95%;
}

code .s1, code .s {
     color: #78BD55;
}

code .mi, code .cp, code .kc {
     color: #5298D4;
}

code .k {
     color: #E39B79;
}

code .kd, code .na {
     color: #A9D866;
}

code .p {
     color: #EEDDBB;
}

code .o {
     color: #FF6633;
}

code .nb {
     color: #AA97AC;
}

code .c, code .c1 {
     color: #666666;
     font-style: italic;
}

code .nt {
     color: #A0C8FC;
}

code .nf {
     color: #9EA8B8;
}

code .nc {
     color: #A78352;
}

code .m {
     color: #DE8E50;
}

code .nd {
     color: #9FAD7E;
}

.big-graph {
     background: none repeat scroll 0% 0% white;
     height: 600px;
     margin: 20px auto;
}

.big-graph .project {
     float: left;
     height: 45px;
     width: 45px;
}

.big-graph .project .icon {
     background: none repeat scroll 0% 0% white;
     height: 31px;
     margin-left: 7px;
     pointer-events: none;
     transition: transform 0.25s ease 0s;
     width: 31px;
}

.big-graph .project:hover {
     z-index: 5;
}

.big-graph .project:hover .icon {
     transform: scale(3);
}

.big-graph .project.commercial .icon {
     background: none repeat scroll 0% 0% #6B6B6B;
}

.big-graph .project.urbanism .icon {
     background: none repeat scroll 0% 0% #00CF00;
}

.big-graph .project.public-space .icon {
     background: none repeat scroll 0% 0% #FF8D00;
}

.big-graph .project.culture .icon {
     background: none repeat scroll 0% 0% #D61919;
}

.big-graph .project.body-culture .icon {
     background: none repeat scroll 0% 0% #00ECFF;
}

.big-graph .project.health .icon {
     background: none repeat scroll 0% 0% #FF2251;
}

.big-graph .project.education .icon {
     background: none repeat scroll 0% 0% #00A700;
}

.big-graph .project.housing .icon {
     background: none repeat scroll 0% 0% #FF02FF;
}

.big-graph .project.hotel .icon {
     background: none repeat scroll 0% 0% #0000C3;
}

.big-graph .project.media .icon {
     background: none repeat scroll 0% 0% #292929;
}

.big-graph .project p {
     color: black;
     font-size: 10.5px;
     line-height: 14px;
     margin-left: 7px;
}

#infscr-loading {
     background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.9);
     border-radius: 10px 10px 10px 10px;
     bottom: 30px;
     color: #222222;
     font-size: 15px;
     left: 42%;
     padding: 20px;
     position: fixed;
     text-align: center;
     z-index: 100;
}

.clearfix:before, .clearfix:after {
     content: "";
     display: table;
}

.clearfix:after {
     clear: both;
}

.clearfix {

}

.element {
     margin: 5px 1%;
     width: 18%;
}

.variable-sizes .element.width2 {
     width: 38%;
}

.element.large, .variable-sizes .element.large, .variable-sizes .element.large.width2.height2 {
     width: 58%;
}

#container {
     padding: 5px 0px;
}

.photo {
    display: none;
}

.iso_date {

}

.iso_image {

}

.iso_image img {

}

.iso_title {

}

.iso_author {

}

.iso_source {

}

.panel {
     float: left;
     font-size: 0.8em;
     height: 220px;
     margin: 0px;
     perspective: 600px;
     position: relative;
     width: 330px;
}

.panel .front {
     backface-visibility: hidden;
     background: none repeat scroll 0% 0% white;
     float: none;
     height: inherit;
     left: 0px;
     position: absolute;
     text-align: center;
     top: 0px;
     transform-style: preserve-3d;
     transform: rotateX(0deg) rotateY(0deg);
     transition: all 0.4s ease-in-out 0s;
     width: inherit;
     z-index: 900;
}

.panel.flip .front {
     background: none repeat scroll 0% 0% #333333;
     transform: rotateY(180deg);
     z-index: 900;
}

.panel .back {
     backface-visibility: hidden;
     background: none repeat scroll 0% 0% #333333;
     float: none;
     height: inherit;
     left: 0px;
     position: absolute;
     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
     top: 0px;
     transform-style: preserve-3d;
     transform: rotateY(-180deg);
     transition: all 0.4s ease-in-out 0s;
     width: inherit;
     z-index: 800;
}

.panel.flip .back {
     background: none repeat scroll 0% 0% #80868D;
     box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.2);
     transform: rotateX(0deg) rotateY(0deg);
     z-index: 1000;
}

.click .front {
     cursor: pointer;
     transform: rotateX(0deg);
}

.click.flip .front {
     transform: rotateX(180deg);
}

.click .back {
     cursor: pointer;
     transform: rotateX(-180deg);
}

.click.flip .back {
     transform: rotateX(0deg);
}

.contact {
     height: 240px;
     width: 290px;
}

.diagonal .front {
     transform: rotate3d(45, 45, 0, 0deg);
}

.diagonal .front:hover {
     transform: rotate3d(45, 45, 0, -36deg);
     transition-delay: 0s;
     transition-duration: 10s;
}

.diagonal.flip .front, .diagonal.flip .front:hover {
     transform: rotate3d(-45, -45, 0, 150deg);
     transition: all 0.4s ease-in-out 0s;
}

.diagonal .front .message {
     font-size: 1.4em;
     opacity: 0;
}

.diagonal .front:hover .message {
     opacity: 0.4;
     transform: translateX(-30px) translateZ(40px) scale(1.4);
     transition-delay: 4s;
     transition-duration: 12s;
}

.diagonal.flip .front .message {

}

.diagonal .back {
     transform: rotate3d(45, 45, 0, -180deg);
}

.diagonal.flip .back {
     transform: rotate3d(45, 45, 0, -30deg);
}

.swing .front, .swing .back {
     backface-visibility: visible;
     transform-origin: 170px 0px 0px;
     transition-duration: 1s;
     width: 140px;
}

.swing .front {
     transform: rotateY(0deg);
}

.swing .back {
     background-color: #555555;
     transform: rotateY(-180deg) translateX(198px) translateZ(2px);
}

.swing.flip .front {
     background-color: #222222;
     transform: rotateY(180deg);
}

.swing.flip .back {
     background-color: #80888F;
     transform: rotateY(0deg) translateX(198px) translateZ(2px);
}

.panel .pad {
     padding: 0px 15px;
}

.panel.flip .action {
     display: none;
}

.block ol li {
     margin: 0px 0px 0px 28px;
     text-align: left;
}

.block .action {
     background: none repeat scroll 0% 0% #333333;
     cursor: pointer;
     display: block;
     font-size: 0.8em;
     opacity: 0;
     padding: 3px;
     position: absolute;
     text-align: right;
}

.block:hover .action {
     opacity: 0.7;
}

.circle div {
     border-radius: 100px 100px 100px 100px;
}

.circle div h2 {
     padding-top: 3em;
     text-align: center;
}
