{% extends 'index_base.html' %}
{% load static %}

{% block content %}
<!--<hr/>-->
	<div class="nine columns">

<div id="hippo" style="display: none;">
  <img src="{% static 'img/feedthemachine.gif' %}" alt="Image of Hippo: Feeding the Machine" />
</div>
		<h3 class="start">Let’s Get Started.</h3>

		<h3>Grab some text.</h3>
		<h5>Got a paper you’ve written? How about some research notes? Favorite
        song lyrics? Throw it into the Serendip-o-matic! Not sure what to use?
        Try <a href="http://en.wikipedia.org/wiki/Wikipedia:Today's_featured_article"
        target="_blank">Wikipedia's daily featured article</a> or try it out with the sample text below.</h5>

    {# display modal messages in the same space as form validation error #}
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><img src="{% static 'img/warning.png' %}" valign="top" height="8%" width="8%" alt="Error" />{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

	<div class="error">{{ input_form.non_field_errors }}</div>
	
	<form name="hippo" method="post" action="{% url 'site-index' %}">{% csrf_token %}

      {{ input_form.text }}
	  
  <button id="magic-button" class="magic">Make some magic!</button>
</div>
<div class="pipe one columns"></div>

<div class="five columns" >


	
	<div class="zot">
		<h3>
            <img class="zotero" src="{% static 'img/zotero.png' %}" alt="Zotero" style="margin:0;padding:0;" />, anyone?
        </h3>
    <!-- Needs label from Django -->
	<h5>Or got a Zotero account?<br />
    Enter your username to give your reference library a whirl!</h5>
   {{ input_form.zotero_user }}
    <button class="magic">Go!</button>
    <h5>Need <a href="https://docs.google.com/document/d/1okQAQfqTdDeCA8FNIDv5GGQcu0y7c8r5s4FdxjJ1J2s/edit?usp=sharing" target="_blank">help or more info about Zotero integration</a>?</h5>
	 </div>
<!--	<div style="width: 300px; margin-left:25px;">
		<div>
			<script src="https://platform.twitter.com/widgets.js"></script> --> <!-- Twitter Widget Library -->
<!--			<a href="https://twitter.com/intent/follow?&screen_name=serendipomatic" target="_blank">
				<img src="{% static 'img/social-media-icons/57x57/twitter.png' %}" alt="Follow the Serendhippo on Twitter" style="height:25px;width:25px;float:left;" />
			</a>
			<span style="padding:0;margin:0 0 0 4px;float:left;">
				<a href="https://twitter.com/intent/follow?&screen_name=serendipomatic" target="_blank">Follow the Serendhippo on Twitter</a>
			</span>
		</div>
		<div style="height:10px;clear:both;"></div>
		<div>
			<a href="http://www.cafepress.com/serendipomatic" target="_blank">
				<img src="{% static 'img/cplogo.png' %}" alt="Get Serendip-o-matic on CafePress.com" style="height:25px;width:25px;float:left;" />
			</a>
			<span style="padding:0;margin:0 0 0 4px;float:left;">
				<a href="http://www.cafepress.com/serendipomatic" target="_blank">Get Some Serendip-o-matic Swag</a>
			</span>
		</div>
	</div>
-->
</div>

</form>

<script>
//function eraseText() {
//  window.jQuery.get('static/default.txt', function(data){
//    if (document.getElementById("texto").value == data){
//      document.getElementById("texto").value = "";
//    }
//  })
//}

function loading() {
    $("#loader").show();
    $("#loader").animate({
        top: -200}, 1500);
}
</script>

 <script>
$( "#hippo" ).dialog({
      autoOpen: false,
      height: 190,  // Image is 157h x 209w
      width: 240, //209
      modal: false
});

$( ".magic" ).click(function() {
	$( "#hippo" ).dialog( "open" );
});
</script>

<script>
$(document).ready(function(){
$('#texto')
    .each(function() {
        $(this).data('default', this.value);
    })
    .focusin(function() {
        if ( this.value == $(this).data('default') ) {
            this.value = '';    
        }
    });
});
</script>   

	</div><!-- container -->

<!-- End Document
================================================== -->

{% endblock %}
