{% extends 'page_base.html' %}
{% load static %}

{% block title %}MagicStash Items Display{% endblock %}

{% block extra-head %}
<!-- add extra css/js here -->

{% endblock %}

{% block content %}
<hr>
<p>
<div class="queryhead">

<div class="ten columns">
  <p>
    <div class="querytitle">Serendip-o-matic ran with these words from your text:</div>
    <div class="querystyle"> {{ query_terms.keywords|join:', ' }}</div>
  </p>

  <p><strong>Sources used:</strong>
  {% for source in sources %}<a href="{{ source.url }}" target="_blank">{{ source.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
</div>


<div class="querysearch four columns">
<!--
<p class="results-menu"><a class="results-menu" href="{% url 'site-index' %}">Try Again</a></p>
<p class="results-menu"><a class="results-menu" href="{% url 'discoveries:list' %}" target="_blank">Save as Text</a> <img class="results-menu" src="{% static 'img/question_mark.png' %}" alt="Help" title="Generates a text list of result links which you can print, copy to an editor, or save in your browser. Opens in a new window." /></p>
<p class="results-menu">
	<a class="results-menu" href="javascript:var d=document,s=d.createElement('script');s.src='https://www.zotero.org/bookmarklet/loader.js';(d.body?d.body:d.documentElement).appendChild(s);void(0);">Save to Zotero</a>
	<img class="results-menu" src="{% static 'img/question_mark.png' %}" alt="Help" title="Saves to your Zotero library with Zotero Standalone. If you do not have Zotero Standalone open, you may also save results to your Zotero library by clicking the Folder icon with the tooltip 'Save to Zotero COinS' in your browser's address bar." />
</p>
-->
<div class="gohome"><a href="{% url 'site-index' %}">Go home and feed the machine new text!</a></div>

<p>
Like what you see? <a href="{% url 'discoveries:list' %}" target="_blank" class="altsave" title="If you have the Zotero plugin running in your browser, you can also save to your Zotero library. Just click the folder icon in your browser's address bar (it should say 'Save to Zotero (COinS)' if you mouse over it).">Save these results</a> (will open on another page)
</p>

{# <a href="{% url 'site-index' %}"><button class="magic" tabindex="5">Refresh Results</button></a> #}
{# <a href="{% url 'saveme' %}" target="_blank"><button class="magic" tabindex="6">Rearrange Results</button></a> #}
</div>
</div>
<div class="clearfix"></div>

<div id="container"> {# force result image div to full width #}
{% for item in items %}



<!-- Insert below into results page. Semi-opaque overlay from top of differently sized images. Suck text data into .overlay and image into .imageframe -->

<div class="imageframe">
  {% if 'flickr.com' in item.thumbnail %}
        <img src="{{ item.thumbnail }}" alt=" " >
  {% else %}
        <img src="{% url 'image:resize' size=300 %}?url={{ item.thumbnail }}" alt="{{ item.title }}" >
  {% endif %}
	<div class="overlay">
		<div class="iso_title"><a href="{{ item.url }}" target="_blank">"{{ item.title|truncatechars:80 }}"</a></div>
    {% comment %} {# not displaying date for the moment #}
    {% if item.date %}
		<div class="iso_date">{{ item.date }}</div>
    {% endif %}
    {% endcomment %}
    {% if item.source %}
    <div class="iso_source">from {{ item.source }}
      {% if item.aggregator == 'Flickr Commons' or item.aggregator == 'Europeana' %} on {{ item.aggregator }}{% endif %}
    </div>
    {% endif %}
	</div>
  {# span with citation information as COinS for zotero harvest #}
  <span class="Z3988" title="{{ item.coins_citation }}"></span>


</div>

<!-- Change the number in the add filter depending on the number of tabindexes required before results. -->
<!--
<div class="hover panel" tabindex="{{ forloop.counter|add:6 }}">
	<div class="front">
		<div class="pad">
		<div class="photo">
	<div class="iso_image"><a href="{{ item.url }}" target="_blank">
            <img class="imgLiquidFill" src="{{ item.thumbnail }}" alt="{{ item.title }}" style="width:150px; height:150px;">
        </a></div>
		</div>
		</div>
	</div>
	<div class="back">
		<div class="pad">
			<div class="iso_date">Date: {{ item.date }}</div>
			<div class="iso_title">Title: <a href="{{ item.url }}">{{ item.title }}</a></div>
			<div class="iso_title">Location: <a href="{{ item.location }}">{{ item.location }}</a></div>
		</div>
	</div>
</div>
<input type="hidden" value="{{ item.location }}"/>
</div>

-->
{% endfor %}
</div>

<p style="text-align: center; margin: 15px 0 5px 0;"><a href="#top"><button tabindex="1000">Return to Top</button></a></p>


{% comment %}
{{ item.title|default:'(no source)' }}
{% endcomment %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'js/jquery-1.10.2.js' %}">\x3C/script>')</script>

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<!--  <script src="http://isotope.metafizzy.co/jquery.isotope.min.js"></script> -->
<script src="{% static 'js/isotope-1.5.25.js' %}"></script>
<script src="{% static 'js/scripts_view.js' %}"></script>
<script src="{% static 'js/fake-element.js' %}"></script>
<script type="text/javascript">
   // Populates broken image links with default image
   $(window).load(function() {
      $("img").each(function(){
         var image = $(this);
         if(image.context.naturalWidth == 0 ||
         image.readyState == 'uninitialized'){
            $(image).unbind("error").attr(
                "src", "{% static 'img/fillerhippo.png' %}"
            );
                        $(image).unbind("error").attr(
                "height", "249"
            );
                        $(image).unbind("error").attr(
                "width", "248"
            );
         }
    });
});
</script>
 <script>
    $(function(){

      var $container = $('#container');

      $container.imagesLoaded( function(){
        $container.isotope({
          itemSelector : '.imageframe'
        });
      });


    });
  </script>

  <script>

// For sorting
$(document).ready(function() {
    $('#sort-by a').click(function(){
      // get href attribute, minus the '#'
      var sortName = $(this).attr('href').slice(1);
      $('#container').isotope({ sortBy : sortName });
      return false;
    });
});
</script>

<script>
	$(".altsave").tooltip({
		position: {
			my: "center bottom-20",
			at: "center top"
		}
	}
	);
</script>
<style>
  .ui-tooltip {
    font-size: smaller;
  }
</style>
{% endblock %}

