{% extends 'site_base.html' %}
{% load static %}

{% block title %}MagicStash Items Display{% endblock %}

{% block content %}

<p><b>Query Terms:</b> {{ query_terms.keywords|join:', ' }}</p>
<p style="float:right;">
    <a href="{% url 'site-index' %}"><button class="magic" tabindex="5">Start Over</button></a>
</p>
<div id="container">
{% for item in items %}

     <!-- Change the number in the add filter depending on the number of tabindexes required before results. -->
	<div class="element transition metal" tabindex="{{ forloop.counter|add:5 }}">
		<p><a href="{{ item.url }}" target="_blank">
            <img src="{{ item.thumbnail }}" alt="{{ item.title }}" />
        </a><br />
		<a href="{{ item.url }}" target="_blank">{{ item.title }}</a><br />
		Name<br />
		Date: {{ item.idate }}<br />
		Source repository</p>
	</div>
{% endfor %}
</div>

<hr />

<a href="#top"><button tabindex="1000">Return to Top</button></a>
{% comment %}
{{ item.title|default:'(no source)' }}
{% endcomment %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'js/jquery-1.10.2.js' %}">\x3C/script>')</script>
<!--  <script src="http://isotope.metafizzy.co/jquery.isotope.min.js"></script> -->
<script src="{% static 'js/isotope-1.5.25.js' %}"></script>
<script src="{% static 'js/scripts_view.js' %}"></script>

{% endblock %}