<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Serendip-o-matic: Let Your Sources Surprise You</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Mobile Specific Metas
 ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- CSS
  ================================================== -->
  <link href="/static/css/styles.css" rel="stylesheet" media="screen" />
  <link href="/static/css/base.css" rel="stylesheet" media="screen" />
  <link href="/static/css/skeleton.css" rel="stylesheet" media="screen" />
  <link href="/static/css/layout.css" rel="stylesheet" media="screen" />
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300italic' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

 <!-- Web fonts -->
 <script type="text/javascript" src="//use.typekit.net/uej1ygs.js"></script>
 <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="/static/images/favicon.ico">
  <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">
</head>
<body>
<a name="top"></a>
<!-- Primary Page Layout
================================================== -->

<!-- Delete everything in this .container and get started on your own site! -->

<div class="container">
  	<div class="sixteen columns" "top">
			<menu class="bar">
			<ul>
            <li id="skip"><a class="skip" href="#content" tabindex="1">Skip to Content</a></li>
			<li><a href="/" tabindex="2">home</a></li>
			<li><a href="#" tabindex="3">about</a></li>
			<li><a href="#" tabindex="4">connect</a></li>
			</ul>
		</menu>
			<header>
			<img class="scale-with-grid" src="/static/img/serendip-o-matic.png" />
			</header>

<a name="content"></a>
<div>

<div class="main">	
	<hr/>
	<div class="nine columns">
		<h3 class="start">Ouch. 500 error.</h3>
		
<a href="/>
<img src="/static/img/500hippo.png" alt="Sad hippo is sad" />
</a>		
<p>Bad things happened, but it's not your fault. Go <a href="/">home</a> and start again. If you want to help us understand how we can fix it, you can add an issue via GitHub at <a href="https://github.com/chnm/serendipomatic/issues?state=open">serendipomatic/issues</a> or email <a href="mailto:serendipomatic@gmail.com">serendipomatic@gmail.com</a> with the date and time you got the error. If you can include information on what you were doing or the text you were adding, that'd be even beter. Thanks!</p>

</div>


	</div><!-- container -->

<footer>
<div id="footermenu">
    <a href="/">Home</a>|<a href="/about/">About</a>|<a href="/connect/">Connect</a></div>
    <img class="footimg" src="/static/img/burst.png" alt="Burst Image" />
    <div id="footer-info" >
      <p><strong>Serendip-o-matic</strong> is a project of
    <a href="http://www.oneweekonetool.org" target="_blank" >One Week | One Tool</a>
     from the <a href="http://chnm.gmu.edu" target="_blank">Roy Rosenzweig Center for History and New Media</a>,
     <a href="http://www.gmu.edu" target="_blank">George Mason University</a>.<br />
     Funding provided by the <a href="http://www.neh.gov" target="_blank">National Endowment for the Humanities</a>.
     &copy; 2013, Roy Rosenzweig Center for History and New Media.<br />
    For more information,
     contact <a href="mailto:serendipomatic@gmail.com">serendipomatic@gmail.com</a>.</p>

     <p>version 0.1.1</p>
     </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42903011-1', 'serendipomatic.com');
  ga('send', 'pageview');

</script>


</div>

</body>
</html>
