{% extends 'view_base.html' %}
{% load static %}

{# html page subtitle (after site title) #}
{% block page-subtitle %} | About{% endblock %}

{% block content %}
<h2>What it is</h2>

<p>Serendip-o-matic connects your sources to digital materials located in libraries, museums, and archives around the world. By first examining your research interests, and then identifying related content in locations such as the <a href="http://dp.la" target="_blank">Digital Public Library of America</a> (DPLA), <a href="http://europeana.eu" target="_blank">Europeana</a>, and <a href="http://www.flickr.com/commons" target="_blank">Flickr Commons</a>, our serendipity engine helps you discover photographs, documents, maps and other primary sources.</p>

<p>Whether you begin with text from an article, a Wikipedia page, or a full Zotero collection, Serendip-o-matic's special algorithm extracts key terms and returns a surprising reflection of your interests. Because the tool is designed mostly for inspiration, search results aren't meant to be exhaustive, but rather suggestive, pointing you to materials you might not have discovered. At the very least, the magical input-output process helps you step back and look at your work from a new perspective. Give it a whirl. Your sources may surprise you.</p>

<h2>How we built it</h2>

<p>Serendip-o-matic is the product of <a href="http://www.oneweekonetool.org/" target="_blank">One Week | One Tool</a>, an open-source software-development institute sponsored by the <a href="http://www.neh.gov/" target="_blank">National Endowment for the Humanities</a> and hosted by the <a href="http://chnm.gmu.edu/" target="_blank">Roy Rosenzweig Center for History and New Media</a> at <a href="http://www.gmu.edu/" target="_blank">George Mason University</a>. Driven by the goal of building a research and teaching tool from conception to launch in one work week, twelve dynamic individuals converged on CHNM in the summer of 2013. Working in the spirit of a digital humanities "barn raising," team members capitalized on their diverse perspectives and skills in order to conceive, build, test, launch, and promote Serendip-o-matic from start to finish. <a href="http://chnm.gmu.edu/news/another-week-another-tool/" target="_blank">Read more about the process</a>.</p>

<p>Serendip-o-matic uses the <a href="http://dp.la" target="_blank">DPLA</a>, <a href="http://europeana.eu" target="_blank">Europeana</a>, and <a href="http://www.flickr.com/commons" target="_blank">Flickr</a> APIs but is not endorsed or certified by these services.  For more information on the libraries we used in developing this application, see our <a href="http://github.com/chnm/serendipomatic/wiki" target="_blank">wiki on Github</a></p>

<h2>Who we are</h2>

<p>We are a team of twelve scholars, students, librarians, and museum professionals.</p>

<p>Brian Croxall <a href="http://www.twitter.com/briancroxall" target="_blank">@briancroxall</a><br />
Jack Dougherty <a href="http://www.twitter.com/Dougherty_Jack" target="_blank">@Dougherty_Jack</a><br />
Meghan Frazer <a href="http://www.twitter.com/MeghanFrazer" target="_blank">@MeghanFrazer</a><br />
Scott Kleinman <a href="http://www.twitter.com/sekleinman" target="_blank">@sekleinman</a><br />
Rebecca Sutton Koeser <a href="http://www.twitter.com/suttonkoeser" target="_blank">@suttonkoeser</a><br />
Ray Palin <a href="http://www.twitter.com/raypalin" target="_blank">@raypalin</a><br />
Amy Papaelias <a href="http://www.twitter.com/fontnerd" target="_blank">@fontnerd</a><br />
Mia Ridge <a href="http://www.twitter.com/mia_out" target="_blank">@mia_out</a><br />
Eli Rose <a href="http://www.twitter.com/_EliRose" target="_blank">@_EliRose</a><br />
Amanda Visconti <a href="http://www.twitter.com/Literature_Geek" target="_blank">@Literature_Geek</a><br />
Scott Williams <a href="http://www.twitter.com/moltude" target="_blank">@moltude</a><br />
Amrys Williams <a href="http://www.twitter.com/shazamrys" target="_blank">@shazamrys</a></p>

{% comment %}
to include images - add the image file to sitemedia/img and reference it
something like this:

<img src="{% static 'img/path-to-image.png' %}"/>

{% endcomment %}

{% endblock %}
