{% extends 'site_base.html' %}
{% load static %}

{# html page subtitle (after site title) #}
{% block page-subtitle %}| About{% endblock %}

{% block content %}
<h2>Make unexpected connections.</h2>

<p>Serendip-o-matic helps you make new connections: between the material you already have at hand, and the universe of sources beyond your fingertips.</p>

{% comment %}
to include images - add the image file to sitemedia/img and reference it
something like this:

<img src="{% static 'img/path-to-image.png' %}"/>

{% endcomment %}

{% endblock %}
