{% extends 'site_base.html' %}
{% comment %}
This is the base template for the site index page.

(NOTE: probably could consolidate with site_index.html, since other
pages are unlikely to repeat the larger header...)
{% endcomment %}
{% load static %}

{% block extra-head %} {# extra fonts & styles only used on the home page #}
 <!-- Web fonts -->
<!-- <script type="text/javascript" src="//use.typekit.net/uej1ygs.js"></script>-->
 <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'js/jquery-1.10.2.js' %}">\x3C/script>')</script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<style type="text/css">
.ui-dialog-titlebar {
  display: none;
}
</style>
{# primary favicon shortcut link included in site_base #}
  <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}">
{% endblock %}

{% block main-col-attrs %}"top"{% endblock %}

{% block header %}
			<header>
			<img class="scale-with-grid" src="{% static 'img/serendip-o-matic.png' %}" alt="Serendip-o-matic" />
			</header>
			<div class="offset-by-three">
			<div class="three columns" class="intro">
			<img src="{% static 'img/feed.png' %}" class="icons" alt="Feed" />
			<h4 class="intro">Feed.</h4>
			<h5 class="intro">Grab some text or link to your personal library.</h5>
		</div>
		<div class="three columns" class="intro">
						<img src="{% static 'img/whirl.png' %}" class="icons" alt="Whirl" />

			<h4 class="intro">Whirl.</h4>
			<h5 class="intro">Magically compare your research with major collections.</h5>
		</div>
		<div class="three columns" class="intro">
						<img src="{% static 'img/marvel.png' %}" class="icons" alt="Marvel" />

			<h4 class="intro">Marvel!</h4>
			<h5 class="intro">Be amazed by what turns up.</h5>
		</div>
			</div>


		</div>  {# extra? #}

{% endblock %}

<footer>
<div id="footermenu">
    <a href="{% url 'site-index' %}">Home</a>|<a href="{% url 'about' %}">About</a>|<a href="{% url 'connect' %}">Connect</a></div>
    <img class="footimg" src="{% static 'img/burst.png' %}" alt="Burst Image" />
    <div id="footer-info" >
      <p><strong>Serendip-o-matic</strong> is a project of
    <a href="http://www.oneweekonetool.org" target="_blank" >One Week | One Tool</a>
     from the <a href="http://chnm.gmu.edu" target="_blank">Roy Rosenzweig Center for History and New Media</a>,
     <a href="http://www.gmu.edu" target="_blank">George Mason University</a>.<br />
     Funding provided by the <a href="http://www.neh.gov" target="_blank">National Endowment for the Humanities</a>.
     &copy; 2013, Roy Rosenzweig Center for History and New Media.<br />
    For more information,
     contact <a href="mailto:serendipomatic@gmail.com">serendipomatic@gmail.com</a>.</p>

     <p>version {{ SW_VERSION }}</p>
     </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42903011-1', 'serendipomatic.com');
  ga('send', 'pageview');

</script>
</body>
</html>
