{% comment %}
This should be used as the base template for all pages on the site.

It should include all html, css, javascript common to all pages, and
provide blocks for any sections that vary per page.
{% endcomment %}
{% load static %}
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Serendip-o-matic: Let Your Sources Surprise You{% block page-subtitle %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Mobile Specific Metas
 ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- CSS
  ================================================== -->
  <link href="{% static 'css/styles.css' %}" rel="stylesheet" media="screen" />
  <link href="{% static 'css/base.css' %}" rel="stylesheet" media="screen" />
  <link href="{% static 'css/skeleton.css' %}" rel="stylesheet" media="screen" />
  <link href="{% static 'css/layout.css' %}" rel="stylesheet" media="screen" />
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300italic' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
  {% block extra-head %}{% endblock %} {# extend for pages that need extra css/js #}
</head>
<body>
<a name="top"></a>
<!-- Primary Page Layout
================================================== -->

<!-- Delete everything in this .container and get started on your own site! -->

<div class="container">
<div class="sixteen columns" {% block main-col-attrs %}{% endblock %}>
<menu class="bar">
			<ul>
            <li id="skip"><a class="skip" href="#content" tabindex="1">Skip to Content</a></li>
			<li><a href="{% url 'site-index' %}" tabindex="2">home</a></li>
			<li><a href="{% url 'about' %}" tabindex="3">about</a></li>
			<li><a href="{% url 'connect' %}" tabindex="4">connect</a></li>
			</ul>
		</menu>

{% block header %}{% endblock %}

<a name="content"></a>
<div class="main">
{% block content %}{% endblock %}
</div>

<footer {% block footer-attrs %}{%endblock %}>
<div id="footermenu">
    <div class="footermenu"><a href="{% url 'site-index' %}">Home</a>|<a href="{% url 'about' %}">About</a>|<a href="{% url 'connect' %}">Connect</a></div>
	
    <img class="footimg" src="{% static 'img/burst.png' %}" alt="Burst Image" />
    <div id="footer-info" >
      <p><strong>Serendip-o-matic</strong> is a project of
    <a href="http://www.oneweekonetool.org" target="_blank" >One Week | One Tool</a>
     from the <a href="http://chnm.gmu.edu" target="_blank">Roy Rosenzweig Center for History and New Media</a>,
     <a href="http://www.gmu.edu" target="_blank">George Mason University</a>.
     Funding provided by the <a href="http://www.neh.gov" target="_blank">National Endowment for the Humanities</a>.
     &copy; 2013, Roy Rosenzweig Center for History and New Media.<br />
    For more information,
     contact <a href="mailto:serendipomatic@gmail.com"><strong>serendipomatic@gmail.com</strong></a>.</p>

     <p>version {{ SW_VERSION }}</p>
     </div>
</footer>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42903011-1', 'serendipomatic.com');
  ga('send', 'pageview');

</script>
</body>
</html>
