{% load static %}
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Serendip-o-matic: Let Your Sources Surprise You{% block page-subtitle %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Mobile Specific Metas
 ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- CSS
  ================================================== -->
  <link href="{% static 'css/styles.css' %}" rel="stylesheet" media="screen" />
  <link href="{% static 'css/base.css' %}" rel="stylesheet" media="screen" />
  <link href="{% static 'css/skeleton.css' %}" rel="stylesheet" media="screen" />
  <link href="{% static 'css/layout.css' %}" rel="stylesheet" media="screen" />
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300italic' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

 <!-- Web fonts -->
 <script type="text/javascript" src="//use.typekit.net/uej1ygs.js"></script>
 <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
  <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}">
</head>
<body>
<a name="top"></a>
<!-- Primary Page Layout
================================================== -->

<!-- Delete everything in this .container and get started on your own site! -->

<div class="container">
		<div class="sixteen columns" "top">
			<menu class="bar">
			<ul>
            <li id="skip"><a class="skip" href="#content" tabindex="1">Skip to Content</a></li>
			<li><a href="{% url 'site-index' %}" tabindex="2">home</a></li>
			<li><a href="{% url 'about' %}" tabindex="3">about</a></li>
			<li><a href="{% url 'connect' %}" tabindex="4">connect</a></li>
			</ul>
		</menu>
			<header>
			<img class="scale-with-grid" src="{% static 'img/serendip-o-matic.png' %}" />
			</header>
			<div class="offset-by-three">
			<div class="three columns" class="intro">
			<img src="{% static 'img/feed.png' %}" class="icons"/>
			<h4 class="intro">Feed.</h4>
			<h5 class="intro">Grab some text or link to your personal library.</h5>
		</div>
		<div class="three columns" class="intro">
						<img src="{% static 'img/whirl.png' %}" class="icons"/>

			<h4 class="intro">Whirl.</h4>
			<h5 class="intro">Magically compare your research with major collections.</h5>
		</div>
		<div class="three columns" class="intro">
						<img src="{% static 'img/marvel.png' %}" class="icons"/>

			<h4 class="intro">Marvel!</h4>
			<h5 class="intro">Be amazed by what turns up.</h5>
		</div>
			</div>
			
			
		</div>
<a name="content"></a>
<div>
{% block content %}{% endblock %}
</div>

<footer>
<div id="footermenu">
    <a href="{% url 'site-index' %}">Home</a>|<a href="{% url 'about' %}">About</a>|<a href="{% url 'connect' %}">Connect</a></div>
    <img class="footimg" src="{% static 'img/burst.png' %}" />
    <p id="footer-info" ><strong>Serendip-o-matic</strong> is a project of
    <a href="http://www.oneweekonetool.org" target="_blank" >One Week | One Tool</a>
     from the <a href="http://chnm.gmu.edu" target="_blank">Center for History and New Media</a>,
     <a href="http://www.gmu.edu" target="_blank">George Mason University</a>.<br />
     Funding provided by the <a href="http://www.neh.gov" target="_blank">National Endowment for the Humanities</a>.
     &copy; 2013, Center for History and New Media. For more information,
     contact <strong>serendipomatic@gmail.com</strong>.
     Follow <a href="http://www.twitter.com/serendipomatic">@serendipomatic</a>.
     </p>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42903011-1', 'serendipomatic.com');
  ga('send', 'pageview');

</script>
</body>
</html>