{% extends 'site_base.html' %}
{% load static %}

{% block title %}MagicStash Items Display{% endblock %}

{% block content %}
<h3>Sorry, css is just copied from the Isotope demo.<h3>

<p><b>Query Terms:</b> {{ query_terms }}</p>
<div id="container">
{% for item in items %}

	<div class="element transition metal">
		<p><a href="http://www.mrmoneymustache.com/" target="_blank">
            <img src="{{ item.thumbnail }}" alt="{{ item.title }}" />
        </a><br />
		<a href="http://www.mrmoneymustache.com/" target="_blank">{{ item.title }}</a><br />
		Name<br />
		Date<br />
		Source repository</p>
	</div>
{% endfor %}
</div>

{% comment %}
{{ item.title|default:'(no source)' }}
{% endcomment %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'js/jquery-1.10.2.js' %}">\x3C/script>')</script>
<!--  <script src="http://isotope.metafizzy.co/jquery.isotope.min.js"></script> -->
<script src="{% static 'js/isotope-1.5.25.js' %}"></script>
<script src="{% static 'js/scripts_view.js' %}"></script>

{% endblock %}