.isotope-item {
     z-index: 2;
}

.isotope-hidden.isotope-item {
     pointer-events: none;
     z-index: 1;
}

.isotope, .isotope .isotope-item {
     transition-duration: 0.8s;
}

.isotope {
     transition-property: height, width;
     font-size: 0.875em;
}

.isotope .isotope-item {
     transition-property: transform, opacity;
}

.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
     transition-duration: 0s;
}

.isotope.infinite-scrolling {
     transition: none 0s ease 0s ;
}

html, body {
     height: 100%;
}

.clearfix:before, .clearfix:after {
     content: "";
     display: table;
}

.clearfix:after {
     clear: both;
}

.clearfix {

}

.imageframe {
     position: relative;
}

.overlay {
     background-color: #000000;
     color: #FFFFFF;
     opacity: 0;
     padding: 10px;
     position: absolute;
     top: 0px;
     z-index: 1000;
}

.imageframe:hover .overlay {
     opacity: 0.75;
     transition: opacity 0.25s ease 0s;
}

.imageframe img {
     margin: 0px;
     padding: 0px;
}

.overlay a {
     color: #FFFFFF;
     font-weight: bold;
}

.iso_source a:hover {
     color: white ! important;
}

.querytitle {
     font-weight: bold;
}

.querystyle {
     color: #3B8483;
     font-size: 1.8em;
     line-height: 1.3em;
}

.queryhead {

}

.querysearch {

}

.gohome {
     margin-top: 20px;
     margin-bottom: 20px;
}

.gohome a:link, .saveresults a:link {
    color: 3B8483 !important;
font-weight: bold;
}

p.results-menu { 
	margin: 3px 0;
}

a.results-menu {
	margin-bottom: 15px;
    border-width: 1px;
    border-style:solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-image: -webkit-gradient(
        linear, 
        0% 0%, 
        0% 100%, 
        color-stop(0, rgba(255, 255, 255, .05)), 
        color-stop(0.5, rgba(255, 255, 255, .25)), 
        color-stop(0.5001, rgba(255, 255, 255, 0)), 
        color-stop(1, rgba(255, 255, 255, 0))
    );
    
    background-image: -webkit-linear-gradient(
        top, 
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.25) 50%,
        rgba(255,255,255,0) 50.01%,
        rgba(255,255,255,0)
    );
    
    background-image: -moz-linear-gradient(
        top,
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.25) 50%,
        rgba(255,255,255,0) 50.01%,
        rgba(255,255,255,0)
    );
    background-image: -o-linear-gradient(
        top,
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.25) 50%,
        rgba(255,255,255,0) 50.01%,
        rgba(255,255,255,0)
    );
    
    background-image: -ms-linear-gradient(
        top,
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.25) 50%,
        rgba(255,255,255,0) 50.01%,
        rgba(255,255,255,0)
    );
    
    background-image: linear-gradient(
        top,
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.25) 50%,
        rgba(255,255,255,0) 50.01%,
        rgba(255,255,255,0)
    );
    
    text-shadow:-1px -1px 1px rgba(0,0,0,0.2);
    text-align:center;
    color: #fff;
    /*font-weight:bold;*/
    background-color: #800;
    border-color: #800;
    border-radius: 3px;
    padding:3px 6px;
    text-decoration:none;
	display: block;
	width: 150px;
	margin: 5px 5px 5px 0;
	float: left;
}

a.results-menu:link,
a.results-menu:visited {
    color:#fff;
}

a.results-menu:hover {
    background-color: #900;
    border-color: #900;
    color: #fff;
    cursor:pointer;
    text-decoration:underline;
}

a.results-menu:active {
    background-color: #a00;
    border-color: #a00;
    color: #fff;
    text-decoration:underline;
}

img.results-menu { 
	margin: 10px 0 10px 0;
	float: left;
}